//
//  Defaults
//


@import "mixins";
$col-title:			rgb(30,30,30);
$col-linkglow:		rgb(0,64,128);
$col-faded:			rgb(80,80,80);
$col-border:		rgb(120,120,120);
$col-border-glow:	rgb(5,150,190);
$col-blue:			rgb(100,200,240);

$mar-general:		15px;

html, body {
	margin: 0; padding: 20px;
	font: 11pt "Helvetica-Neue", Helvetica, sans-serif; line-height: 1.3;
	background-color: rgb(246,246,246);
}

h2 {
	margin-bottom: 0.3em;
}

h3 {
	&:first-child { margin-top: 0.3em; }
}

p {
	padding: 0.5em 0;
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
}

#container {
	max-width: 800px;
}

#rule_inbox_header {
	color: #900;
}

#rule_inbox, #rule_box {
	border: 1px solid $col-border; @include border-radius-all();
}

.rule {
	margin-top: 0; padding: 0.5em 0.75em;
	border-bottom: 1px solid $col-border;
	background-color: white;
	
	&:first-child {
		@include border-radius(4px, 4px, 0, 0);
	}
	&:last-child {
		border-bottom: none;
		@include border-radius(0, 0, 4px, 4px);
		&:first-child {
			@include border-radius-all(4px);
		}
	}
	
	h3 {
		margin: 0.3em 0;
		
		a {
			color: $col-title;
			text-decoration: none;
			&:hover {
				color: $col-linkglow;
			}
		}
	}
	
	button {
		float: right;
	}
	
	pre {
		white-space: pre-wrap;
	}
	
	.previous_checks, .references {
		font-size: 0.85em;
	}
}

#processing {
	& > div {
		margin-top: 1.5em;
		border: 1px solid $col-border; @include border-radius-all();
		background-color: white;
		
		&:first-child {
			margin-top: 0;
		}
	}
	
	.rule_info {
		padding: 0.5em $mar-general;
	}
	
	.proc_header {
		padding: 0.5em $mar-general;
		cursor: pointer;
		
		h4 {
			margin: 0; padding: 0;
		}
	}
	.proc_body {
		display: none;
		border-top: 1px solid $col-border;
		
		.process_form {
			line-height: 1.6;
			
			h4 {
				margin: 0.5em $mar-general;
				font-size: 1.1em;
			}
			
			h5 {
				margin: 0.5em 0 0.25em;
				font-size: 1em;
				
				&:first-child { margin-top: 0; }
			}
			
			.patient_portrait {
				float: left;
				width: 128px;
				margin: 10px 20px 10px $mar-general;
				text-align: center;
				
				img {
					width: 120px; height: 160px;
					border: 4px solid rgba(0,0,0,0.2);
					box-shadow: 0 1px 2px rgba(0,0,0,0.2);
				}
			}
			
			.process_block {
				margin: $mar-general $mar-general 0 (128px + $mar-general + 20px);
				
				table {
					border-spacing: 0;
					
					td {
						padding: 0;
						vertical-align: top;
					}
				}
			}
			
			.process_row {
				clear: left;
				margin: $mar-general 20px 0 $mar-general;
				
				h5 {
					float: left;
					width: 128px;
					margin-right: 20px;
				}
			}
			
			.process_list {
				margin: $mar-general $mar-general 0 $mar-general;
				
			}
			
			input[type="text"], select {
				margin: 0;
				font-size: 1.1em;
			}
			
			textarea { width: 99%; }
		}
		
		p {
			padding: 0.5em $mar-general;
		}
	}
	
	.active {
		border-color: $col-border-glow;
		box-shadow: 0 0 8px $col-border-glow;
		
		.proc_body {
			display: block;
		}
	}
}

.process_next {
	margin-top: 1em;
}


// SMART container selection
#endpoints {
	overflow: hidden;
	background-color: white;
	border: 1px solid $col-border; @include border-radius-all();
	
	a {
		display: block;
		padding: 0.5em 1em;
		text-decoration: none; color: darken($col-border, 50%);
		border-bottom: 1px solid $col-border;
		&:last-child {
			border-bottom: none;
		}
		
		&:hover {
			color: darken($col-blue, 50%);
			background-color: lighten($col-blue, 25%);
		}
		
		span {
			display: block;
			color: $col-border;
		}
	}
}

// Generic
.green {
	color: #090;
}

.red {
	color: #A00;
}

.faded {
	color: $col-faded;
}

.small {
	font-size: 0.85em;
}

