//
//  Defaults
//


@import "mixins";
$col-title:			rgb(30,30,30);
$col-linkglow:		rgb(0,64,128);
$col-border:		rgb(120,120,120);
$col-blue:			rgb(100,200,240);

html, body {
	margin: 0; padding: 20px;
	font: 11pt "Helvetica-Neue", Helvetica, sans-serif;
	background-color: rgb(246,246,246);
}

#container {
	max-width: 800px;
}

#rule_inbox, #rule_box {
	border: 1px solid $col-border; @include border-radius-all();
}

.rule {
	margin-top: 0; padding: 0.5em 0.75em;
	border-bottom: 1px solid $col-border;
	background-color: white;
	
	&:first-child {
		@include border-radius(4px, 4px, 0, 0);
	}
	&:last-child {
		border-bottom: none;
		@include border-radius(0, 0, 4px, 4px);
		&:first-child {
			@include border-radius-all(4px);
		}
	}
	
	h2 {
		margin: 0.5em 0;
		font-size: 1.4em;
		
		a {
			color: $col-title;
			text-decoration: none;
			&:hover {
				color: $col-linkglow;
			}
		}
	}
	
	button {
		float: right;
	}
	
	pre {
		white-space: pre-wrap;
	}
	
	.previous_checks, .references {
		font-size: 0.85em;
	}
}

#endpoints {
	overflow: hidden;
	background-color: white;
	border: 1px solid $col-border; @include border-radius-all();
	
	a {
		display: block;
		padding: 0.5em 1em;
		text-decoration: none; color: darken($col-border, 50%);
		border-bottom: 1px solid $col-border;
		&:last-child {
			border-bottom: none;
		}
		
		&:hover {
			color: darken($col-blue, 50%);
			background-color: lighten($col-blue, 25%);
		}
		
		span {
			display: block;
			color: $col-border;
		}
	}
}

// Generic
.green {
	color: #090;
}

.red {
	color: #A00;
}

