//
//  Defaults
//


@import "mixins";
$col-border:		rgb(120,120,120);
$col-blue:			rgb(100,200,240);

html, body {
	margin: 0; padding: 20px;
	font: 11pt "Helvetica-Neue", Helvetica, sans-serif;
	background-color: rgb(246,246,246);
}

#container {
	max-width: 800px;
}

.rule {
	margin-top: 2em; padding: 0.5em 0.75em;
	border: 1px solid $col-border; @include border-radius-all();
	background-color: white;
	
	&:first-child {
		margin-top: none;
	}
	
	h2 {
		margin-top: 0.5em;
		font-size: 1.4em;
	}
	button {
		float: right;
	}
}

#endpoints {
	overflow: hidden;
	background-color: white;
	border: 1px solid $col-border; @include border-radius-all();
	
	a {
		display: block;
		padding: 0.5em 1em;
		text-decoration: none; color: darken($col-border, 50%);
		border-bottom: 1px solid $col-border;
		&:last-child {
			border-bottom: none;
		}
		
		&:hover {
			color: darken($col-blue, 50%);
			background-color: lighten($col-blue, 25%);
		}
		
		span {
			display: block;
			color: $col-border;
		}
	}
}
