html, body { margin: 0; padding: 20px; font: 11pt "Helvetica-Neue", Helvetica, sans-serif; background-color: #f6f6f6; }

#container { max-width: 800px; }

.rule { margin-top: 2em; padding: 0.5em 0.75em; border: 1px solid #787878; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -ms-border-radius: 5px 5px 5px 5px; -o-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; background-color: white; }
.rule:first-child { margin-top: none; }
.rule h2 { margin-top: 0.5em; font-size: 1.4em; }
.rule button { float: right; }
.rule pre { white-space: pre-wrap; }
.rule .references { font-size: 0.85em; }

#endpoints { overflow: hidden; background-color: white; border: 1px solid #787878; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -ms-border-radius: 5px 5px 5px 5px; -o-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }
#endpoints a { display: block; padding: 0.5em 1em; text-decoration: none; color: black; border-bottom: 1px solid #787878; }
#endpoints a:last-child { border-bottom: none; }
#endpoints a:hover { color: #08394d; background-color: #d8f1fb; }
#endpoints a span { display: block; color: #787878; }

.green { color: #090; }

.red { color: #A00; }
