html, body { margin: 0; padding: 20px; font: 11pt "Helvetica-Neue", Helvetica, sans-serif; line-height: 1.3; background-color: #f6f6f6; }

h2 { margin-bottom: 0.3em; }

h3:first-child { margin-top: 0.3em; }

p { padding: 0.5em 0; }
p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }

table { border-collapse: collapse; }

td:first-child { padding-left: 0; }
td:last-child { padding-right: 0; }

#container { max-width: 800px; }

.patient_portrait { float: left; width: 68px; margin: 0 20px 10px 0; text-align: center; }
.patient_portrait img { width: 60px; height: 80px; border: 4px solid rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.demographics h1 { font-size: 1.6em; }

#rules { clear: left; padding-top: 2em; }

#rule_inbox_header { color: #900; }

#rule_inbox, #rule_box { display: inline-block; width: 380px; }

#rule_inbox { float: left; color: white; }

#rule_box .evaluate_rule { display: none; }

.rule { margin-top: 0; padding: 0.5em 0.75em; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #afafaf; background-color: #c8c8c8; }
.rule h2 { margin: 0.3em 0; }
.rule h2 a { color: #1e1e1e; text-decoration: none; }
.rule h2 a:hover { color: #004080; }
#rule_inbox .rule { border-top: 1px solid #e93126; border-bottom: 1px solid #9a170f; background-color: #c81e14; }
#rule_inbox .rule h2 a { color: white; }
#rule_inbox .rule h2 a:hover { color: white; }
.rule.all_good { border-top: 1px solid #c1ffa1; border-bottom: 1px solid #6eff21; background-color: #a0ff6e; }
.rule .exclamation { float: left; width: 50px; height: 50px; margin: 5px 1em 1em 3px; }
#rule_box .rule .exclamation { display: none; }
.rule .buttons { margin-top: 1em; text-align: right; }
.rule p { margin: 0.3em 0 0; padding: 0; }
.rule pre { white-space: pre-wrap; }
.rule .references { float: left; font-size: 0.85em; }

#processing { clear: left; }
#processing > div { margin-top: 1.5em; border: 1px solid #787878; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -ms-border-radius: 5px 5px 5px 5px; -o-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; background-color: white; }
#processing > div:first-child { margin-top: 0; }
#processing .rule_info { padding: 0.5em 15px; }
#processing .proc_header { padding: 0.5em 15px; cursor: pointer; }
#processing .proc_header h4 { margin: 0; padding: 0; }
#processing .proc_body { display: none; border-top: 1px solid #787878; }
#processing .proc_body .process_form { line-height: 1.6; }
#processing .proc_body .process_form h4 { margin: 0.5em 15px; font-size: 1.1em; }
#processing .proc_body .process_form h5 { margin: 0.5em 0 0.25em; font-size: 1em; }
#processing .proc_body .process_form h5:first-child { margin-top: 0; }
#processing .proc_body .process_form .patient_portrait { width: 128px; img-width: 120px; img-height: 160px; }
#processing .proc_body .process_form .process_block { margin: 15px 15px 0 163px; }
#processing .proc_body .process_form .process_block table { border-spacing: 0; }
#processing .proc_body .process_form .process_block table td { padding: 0; vertical-align: top; }
#processing .proc_body .process_form .process_row { clear: left; margin: 15px 20px 0 15px; }
#processing .proc_body .process_form .process_row h5 { float: left; width: 128px; margin-right: 20px; }
#processing .proc_body .process_form .process_list { margin: 15px 15px 0 15px; }
#processing .proc_body .process_form .process_list li { list-style: none; margin-top: 0.75em; }
#processing .proc_body .process_form .process_list li.additional_item input[type="text"] { width: 80%; margin: 0.2em 1em 0.2em 0.2em; }
#processing .proc_body .process_form .process_list li#add_more { margin-top: 1em; font-size: 0.9em; }
#processing .proc_body .process_form .process_list li .supplement { margin-left: 1.6em; font-size: 0.9em; color: #505050; }
#processing .proc_body .process_form input[type="text"], #processing .proc_body .process_form select, #processing .proc_body .process_form textarea { margin: 0; font-size: 1.1em; }
#processing .proc_body .process_form textarea { width: 99%; }
#processing .proc_body p { padding: 0.5em 15px; }
#processing .active { border-color: #0596be; box-shadow: 0 0 8px #0596be; }
#processing .active .proc_body { display: block; }
#processing #gender_male { margin-left: 2em; }

.process_next { margin-top: 1em; }

#death_date_hint { display: none; font-size: 0.9em; color: #505050; }

#endpoints { overflow: hidden; background-color: white; border: 1px solid #787878; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -ms-border-radius: 5px 5px 5px 5px; -o-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }
#endpoints a { display: block; padding: 0.5em 1em; text-decoration: none; color: black; border-bottom: 1px solid #787878; }
#endpoints a:last-child { border-bottom: none; }
#endpoints a:hover { color: #08394d; background-color: #d8f1fb; }
#endpoints a span { display: block; color: #787878; }

.green { color: #090; }

.red { color: #A00; }

.faded { color: #505050; }

.small { font-size: 0.85em; }
