html, body { margin: 0; padding: 20px; font: 11pt "Helvetica-Neue", Helvetica, sans-serif; line-height: 1.3; background-color: #f6f6f6; }

h2 { margin-bottom: 0.3em; }

h3:first-child { margin-top: 0.3em; }

p { padding: 0.5em 0; }
p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }

#container { max-width: 800px; }

#rule_inbox_header { color: #900; }

#rule_inbox, #rule_box { border: 1px solid #787878; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -ms-border-radius: 5px 5px 5px 5px; -o-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }

.rule { margin-top: 0; padding: 0.5em 0.75em; border-bottom: 1px solid #787878; background-color: white; }
.rule:first-child { -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -ms-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
.rule:last-child { border-bottom: none; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; -ms-border-radius: 0 0 4px 4px; -o-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }
.rule:last-child:first-child { -webkit-border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -ms-border-radius: 4px 4px 4px 4px; -o-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; }
.rule h3 { margin: 0.3em 0; }
.rule h3 a { color: #1e1e1e; text-decoration: none; }
.rule h3 a:hover { color: #004080; }
.rule button { float: right; }
.rule pre { white-space: pre-wrap; }
.rule .previous_checks, .rule .references { font-size: 0.85em; }

#processing > div { margin-top: 1.5em; border: 1px solid #787878; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -ms-border-radius: 5px 5px 5px 5px; -o-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; background-color: white; }
#processing > div:first-child { margin-top: 0; }
#processing .rule_info { padding: 0.5em 15px; }
#processing .proc_header { padding: 0.5em 15px; cursor: pointer; }
#processing .proc_header h4 { margin: 0; padding: 0; }
#processing .proc_body { display: none; border-top: 1px solid #787878; }
#processing .proc_body .process_form { line-height: 1.6; }
#processing .proc_body .process_form h4 { margin: 0.5em 15px; font-size: 1.1em; }
#processing .proc_body .process_form h5 { margin: 0.5em 0 0.25em; font-size: 1em; }
#processing .proc_body .process_form h5:first-child { margin-top: 0; }
#processing .proc_body .process_form .patient_portrait { float: left; width: 128px; margin: 10px 20px 10px 15px; text-align: center; }
#processing .proc_body .process_form .patient_portrait img { width: 120px; height: 160px; border: 4px solid rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
#processing .proc_body .process_form .process_block { margin: 15px 15px 0 163px; }
#processing .proc_body .process_form .process_block table { border-spacing: 0; }
#processing .proc_body .process_form .process_block table td { padding: 0; vertical-align: top; }
#processing .proc_body .process_form .process_row { clear: left; margin: 15px 20px 0 15px; }
#processing .proc_body .process_form .process_row h5 { float: left; width: 128px; margin-right: 20px; }
#processing .proc_body .process_form .process_list { margin: 15px 15px 0 15px; }
#processing .proc_body .process_form .process_list li { list-style: none; }
#processing .proc_body .process_form input[type="text"], #processing .proc_body .process_form select { margin: 0; font-size: 1.1em; }
#processing .proc_body .process_form textarea { width: 99%; }
#processing .proc_body p { padding: 0.5em 15px; }
#processing .active { border-color: #0596be; box-shadow: 0 0 8px #0596be; }
#processing .active .proc_body { display: block; }

.process_next { margin-top: 1em; }

#endpoints { overflow: hidden; background-color: white; border: 1px solid #787878; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -ms-border-radius: 5px 5px 5px 5px; -o-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; }
#endpoints a { display: block; padding: 0.5em 1em; text-decoration: none; color: black; border-bottom: 1px solid #787878; }
#endpoints a:last-child { border-bottom: none; }
#endpoints a:hover { color: #08394d; background-color: #d8f1fb; }
#endpoints a span { display: block; color: #787878; }

.green { color: #090; }

.red { color: #A00; }

.faded { color: #505050; }

.small { font-size: 0.85em; }
