<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Adverse Event Reporting</title>
	<link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
	<div id="container">
		<div id="back_to_patient_select">
			<a href="?api_base={{ api_base }}">« Select patient</a>
		</div>
		
		<h1>AE Reporting</h1>
		<div id="rules">
			Loading rules...
		</div>
		
		<div id="processing" style="display:none;"></div>
	</div>
</body>
<script>
var _api_base = "{{ api_base }}";
var _record_id = "{{ record_id }}";
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="static/jquery.view.ejs.min.js"></script>
<script src="static/Base.min.js"></script>
<script src="static/main.min.js"></script>
</html>
