<form id="form_demographics">
	<table>
		<tbody>
			<tr><th>Patient Identifier:</th><td><input type="text" placeholder="Kept confidential" /></td></tr>
			<tr><th>Date of Birth:</th><td><input type="text" /></td></tr>
			<tr><th>Age at Time of Event:</th><td><input type="text" /></td></tr>
			<tr><th>Gender:</th>
				<td>
					<input id="gender_female" type="radio" name="gender" value="w" />
					</label for="gender_female">Female</label>
					<input id="gender_male" type="radio" name="gender" value="m" />
					</label for="gender_male">Male</label>
				</td>
			</tr>
			<tr><th>Weight:</th><td><input type="text" /></td></tr>
		</tbody>
	</table>
</form>
