<form class="process_form" id="form_reporter">
	<div class="process_row">
		<h5>Name</h5>
		<input type="text" name="address" size="40" />
	</div>
	<div class="process_row">
		<h5>Address</h5>
		<textarea name="address" rows="3" cols="80" style="width:auto;"></textarea>
	</div>
	<div class="process_row">
		<h5></h5>
		<input type="text" name="city" placeholder="City" />,
		<input type="text" name="state" placeholder="State" size="5" />
		<input type="text" name="zip" placeholder="ZIP" size="6" />
	</div>
	
	<div class="process_row">
		<h5>Phone</h5>
		<input type="text" name="phone" />
	</div>
	<div class="process_row">
		<h5>Email</h5>
		<input type="text" name="email" size="40" />
	</div>
	<div class="process_row">
		<h5>Occupation</h5>
		<input type="text" name="occupation" />
	</div>
	<div class="process_row">
		<h5></h5>
		<input type="checkbox" id="professional" name="professional" value="y" />
		<label for="professional">Health Professional</label>
	</div>
</form>
