<form class="process_form" id="form_adverse_event">
	<div class="process_row">
		<h5>Date of Event:</h5>
		<input class="auto-kal" type="text" name="event_date" placeholder="MM/DD/YYYY" data-kal="format: 'MM/DD/YYYY'" value="<%= moment().format('MM/DD/YYYY') %>" />
	</div>
	
	<div class="process_row">
		<h5>Outcome:</h5>
		<table>
			<tbody>
				<tr>
					<td>
						<input type="checkbox" name="outcome" id="out-life-threatening" value="life-threatening" />
						<label for="out-life-threatening">Life-threatening</label>
					</td>
					<td>
						<input type="checkbox" name="outcome" id="out-death" value="death" onchange="showHideDeathHint(this.checked);" />
						<label for="out-death">Death</label><br />
						<span id="death_date_hint">Please add the death date to the patient's vitals</span>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="outcome" id="out-hospitalization" value="hospitalization" />
						<label for="out-hospitalization">Hospitalization - initial or prolonged</label>
					</td>
					<td>
						<input type="checkbox" name="outcome" id="out-disability" value="disability" />
						<label for="out-disability">Disability or Permanent Damage</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="outcome" id="out-birth-defect" value="birth-defect" />
						<label for="out-birth-defect">Congenital Anomaly / Birth Defect</label>
					</td>
					<td>
						<input type="checkbox" name="outcome" id="out-other" value="other" />
						<label for="out-other">Other Serious</label>
					</td>
				</tr>
				<!--tr>
					<td colspan="2">
						<input type="checkbox" name="outcome" id="out-intervention" value="intervention" />
						<label for="out-intervention">Required intervention to Prevent Permanent Impairment/Damage</label>
					</td>
				</tr-->
			</tbody>
		</table>
	</div>
	
	<div class="process_row">
		<h5>Description:</h5>
		<textarea name="ae_description" rows="15" cols="70"></textarea>
	</div>
</form>
