<form class="process_form" id="form_adverse_event">
	<div class="process_row">
		<h5>Date of Event:</h5>
		<input class="auto-kal" type="text" name="event_date" placeholder="MM/DD/YYYY" data-kal="format: 'MM/DD/YYYY'" value="<%= moment().format('MM/DD/YYYY') %>" />
	</div>
	
	<div class="process_row">
		<h5>Outcome:</h5>
		<select name="outcome" onchange="showHideDeathHint(this.options[this.selectedIndex].value=='death');">
			<option value="life-threatening">Life-threatening</option>
			<option value="death">Death</option>
			<option value="hospitalization">Hospitalization - initial or prolonged</option>
			<option value="disability">Disability or Permanent Damage</option>
			<option value="birth-defect">Congenital Anomaly / Birth Defect</option>
			<option value="other">Other Serious</option>
		</select>
		<span id="death_date_hint">Please add the death date to the patient's vitals</span>
	</div>
	
	<div class="process_row">
		<h5>Description:</h5>
		<textarea name="ae_description" rows="20" cols="70"></textarea>
	</div>
</form>
