<!DOCTYPE html>
<html>
<head>
	<title>FDA 3500 508</title>
	<style>
		body, html { margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 7pt; }
		#instructions { border-bottom: 1px solid #333; background-color: #EEE; }
		#instructions > div { width: 8.5in; padding: 10px; font-size: 10pt; text-align: right; }
		#instructions button { font-weight: bold; }
		.page { width: 8.5in; height: 11in; margin: 10px;; box-shadow: 0 2px 6px rgba(0,0,0,0.5); }
		.inner { padding: 25px 35px 25px 40px; }
		@media print {
			#instructions { display: none; }
			.page { margin: 0; box-shadow: none; }
		}
		h1 {
			margin: 0; font-family: 'Futura-CondensedExtraBold', Futura, sans-serif; font-variant: small-caps; font-size: 24pt;
			-webkit-transform: scale(1.4,1); -moz-transform: scale(1.4,1); -ms-transform: scale(1.4,1); -o-transform: scale(1.4,1); transform: scale(1.4,1);
			-webkit-transform-origin: left top; -moz-transform-origin: left top; -ms-transform-origin: left top; -o-transform-origin: left top; transform-origin: left top;
		}
		h2 { margin: 0 auto; font-family: Palatino, serif; font-size: 10pt; text-align: center; width: 240px; }
		h3 { margin: 0; }
		p { margin: 4px 0; padding: 0 4px; }
		ins { line-height: 7pt; }
		p, ins { font-family: Arial, sans-serif; font-weight: bold; font-size: 9pt; text-decoration: none; }
		
		.box {
			border: 0.75pt solid black;
		}
		.box h4 {
			margin: 0; padding: 1px 7px; color: white; background-color: black; text-transform: uppercase; font-size: 9pt;
		}
		.box h5 {
			margin: 1px 2px 4px; font-size: 7pt;
		}
		.inline { display: inline-block; vertical-align: top; }
		.checkbox {
			display: inline-block; vertical-align: top; width: 10px; height: 10px; border: 1px solid black;
			font-size: 11px; font-weight: bold; line-height: 10px; text-align: center;
			cursor: pointer;
		}
		#left, #right { width: 365px; margin-top: 8px; }
		#left { float: left; }
		#right { margin-left: 374px; }
	</style>
</head>
<body>
	<div id="instructions">
		<div>
			You can edit the contents of this form by clicking on them.
			<button onclick="window.print()">Print</button>
		</div>
	</div>
	<div class="page"><div class="inner">
		<div>
			U.S. Department of Health and Human Services
			<div style="float:right; font-size:90%; text-align:right;">
				Form Approved: OMB No. 0910-0291, Expires: 12/31/2011<br />
				See OMB statement on reverse.
			</div>
		</div>
		
		<div style="clear:both; height:66px;">
			<div style="float:left;">
				<h1>MedWatch</h1>
				<h3>The FDA Safety Information and<br />Adverse Event Reporting Program</h3>
			</div>
			
			<div style="float:right; width:240px; height:60px; margin-top:12px;" class="box">
				<h4 style="text-align:center;">FDA use only</h4>
				<div style="height:22px; border-bottom:1px solid black; padding:1px 2px;">
					Triage unit<br />sequence #
				</div>
			</div>
			
			<h2>For VOLUNTARY reporting of<br />adverse events, product problems and<br />product use errors</h2>
		</div>
		
		
		<!-- LEFT -->
		<div id="left" class="box">
			<h4>A. Patient information</h4>
			<div class="inline" style="width:90px; height:65px; border-right:1px solid black;">
				<h5>1. <b>Patient Identifier</b></h5>
				<p contenteditable="true" style="height:22px; line-height:22px; font-size:9pt;">{{ demographics.identifier }}</p>
				<div style="margin-top:18px; text-align:center; font-size:6.5pt;">In confidence</div>
			</div><div class="inline" style="width:126px; height:65px;border-right:1px solid black;">
				<h5>2. <b>Age at Time of Event or<br />Date of Birth:</b></h5>
				<p contenteditable="true">{{ demographics.bday }}</p>
			</div><div class="inline" style="width:74px; height:65px; border-right:1px solid black;">
				<h5>3. <b>Sex</b></h5>
				<div style="padding:8px 2px 2px 12px; line-height:2.2;">
					<span class="checkbox">{% if ('w' == demographics.gender) %}X{% endif %}</span>
					Female<br />
					<span class="checkbox">{% if ('m' == demographics.gender) %}X{% endif %}</span>
					Male
				</div>
			</div><div class="inline" style="width:72px; height:65px;">
				<h5>4. <b>Weight</b></h5>
				<p contenteditable="true">{{ demographics.weight }}</p>
			</div>
			
			<h4>B. Adverse event, product problem or error</h4>
			<h5>Check all that apply:</h5>
			<div class="inline" style="width:10px; padding:2px 0 2px 4px;">1.
			</div><div class="inline" style="width:96px; height:30px; line-height:1.7;">
				<span class="checkbox">X</span>
				<b>Adverse Event</b><br />
				<span class="checkbox"></span>
				<b>Product Use Error</b>
			</div><div class="inline" style="width:250px; height:30px; line-height:1.7;">
				<span class="checkbox"></span>
				<b>Product Problem</b> <i>(e.g. defects/malfunctions)</i><br />
				<span class="checkbox"></span>
				<b>Problem with Different Manufacturer of Same Medicine</b>
			</div>
			
			<div style="border-top:1px solid black;">
				<div class="inline" style="width:10px; height:96px; padding:2px 0 2px 4px;">2.
				</div><div class="inline" style="height:96px; width:350px; margin-top:2px;">
					<b>Outcomes Attributed to Adverse Event</b><br /><i>(Check all that apply)</i><br />
					
					<div class="inline" style="width:162px; height:27px; margin-top:2px; line-height:1.7;">
						<span class="checkbox">{% if ('death' in adverse_event.outcome) %}X{% endif %}</span>
						Death:
						<span style="position:relative; display:inline-block; width:105px; height:14px; border-bottom:1px solid black;">
							<ins contenteditable="true">{{ demographics.deathdate }}</ins>
							<i style="position:absolute; top:14px; left:0; right:0; display:inline-block; height:14px; text-align:center;">(mm/dd/yyyy)</i>
						</span>
					</div><div class="inline" style="width:188px; height:27px; line-height:1.7;">
						<span class="checkbox">{% if ('disability' in adverse_event.outcome) %}X{% endif %}</span>
						Disability or Permanent Damage
					</div>
					
					<div class="inline" style="width:162px; height:18px; line-height:1.7;">
						<span class="checkbox">{% if ('life-threatening' in adverse_event.outcome) %}X{% endif %}</span>
						Life-threatening
					</div><div class="inline" style="width:188px; height:18px; line-height:1.7;">
						<span class="checkbox">{% if ('birth-defect' in adverse_event.outcome) %}X{% endif %}</span>
						Congenital Anomaly/Birth Defect
					</div>
					
					<div class="inline" style="width:162px; height:16px; line-height:1.7;">
						<span class="checkbox">{% if ('hospitalization' in adverse_event.outcome) %}X{% endif %}</span>
						Hospitalization - initial or prolonged
					</div><div class="inline" style="width:188px; height:16px; line-height:1.7;">
						<span class="checkbox">{% if ('other' in adverse_event.outcome) %}X{% endif %}</span>
						Other Serious (Important Medical Events)
					</div>
					
					<div class="inline" style="width:350px; height:16px; line-height:1.7;">
						<span class="checkbox">{% if ('intervention' in adverse_event.outcome) %}X{% endif %}</span>
						Required Intervention to Prevent Permanent Impairment/Damage (Devices)
					</div>
				</div>
			</div>
			
			<div style="border-top:1px solid black;">
				<div class="inline" style="width:182px; height:32px;">
					<h5>3. Date of Event <i>(mm/dd/yyyy)</i></h5>
					<p contenteditable="true" style="margin:0;">{{ adverse_event.event_date }}</p>
				</div><div class="inline" style="width:181px; height:32px; border-left:1px solid black;">
					<h5>4. Date of this Report <i>(mm/dd/yyyy)</i></h5>
					<p contenteditable="true" style="margin:0;">{{ now }}</p>
				</div>
			</div>
			
			<div style="border-top:1px solid black; height:193px;">
				<h5>5. Describe Event, Problem or Product Use Error</h5>
				<p contenteditable="true">{{ adverse_event.ae_description }}</p>
			</div>
			<div style="border-top:1px solid black; height:120px;">
				<h5>6. Relevant Tests/Laboratory Data, Including Dates</h5>
				<p contenteditable="true"></p>
			</div>
			<div style="border-top:1px solid black; height:124px;">
				<h5>7. Other Relevant History, Including Preexisting Medical Conditions <i>(e.g.,<br/>allergies, race, pregnancy, smoking and alcohol use, liver/kidney problems, etc.)</i></h5>
				<p contenteditable="true">{% if (demographics.ethnicity) %}Ethnicity: {{ demographics.ethnicity }}{% endif %}</p>
			</div>
			
			<h4>C. Product availability</h4>
			<h5>Product Available for Evaluation? <i>(Do not send product to FDA)</i></h5>
			<div style="height:22px; padding:6px 6px 0; vertical-align:top;">
				<span class="checkbox"></span>
				Yes
				<span class="checkbox" style="margin:0 0 0 15px;"></span>
				No
				<span class="checkbox" style="margin:0 0 0 15px;"></span>
				Returned to Manufacturer on: 
				<span style="position:relative; display:inline-block; width:105px; height:11px; border-bottom:1px solid black;">
					<ins contenteditable="true"></ins>
					<i style="position:absolute; top:9px; left:0; right:0; display:inline-block; height:14px; line-height:14px; text-align:center;">(mm/dd/yyyy)</i>
				</span>
			</div>
			
			<h4>D. Suspect product(s)</h4>
			<h5>1. Name, Strength, Manufacturer <i>(from product label)</i></h5>
			<div>
				<div class="inline" style="width:16px; height:42px; padding-left:2px; line-height:1.5;">
					#1
				</div><div class="inline" style="width:337px; height:42px; line-height:1.5;">
					Name: <ins contenteditable="true">{{ medications.meds[0]['rx:name'] }}</ins><br/>
					Strength: <ins contenteditable="true">{{ medications.meds[0]['rx:strength'] }}</ins><br />
					Manufacturer: <ins contenteditable="true">{{ medications.meds[0]['rx:manufacturer'] }}</ins>
				</div>
			</div>
			<div style="border-top:1px solid black;">
				<div class="inline" style="width:16px; height:42px; padding-left:2px; line-height:1.5;">
					#2
				</div><div class="inline" style="width:337px; height:42px; line-height:1.5;">
					Name: <ins contenteditable="true">{{ medications.meds[1]['rx:name'] }}</ins><br/>
					Strength: <ins contenteditable="true">{{ medications.meds[1]['rx:strength'] }}</ins><br />
					Manufacturer: <ins contenteditable="true">{{ medications.meds[1]['rx:manufacturer'] }}</ins>
				</div>
			</div>
		</div>
		
		
		<!-- RIGHT -->
		<div id="right" class="box">
			<div>
				<div class="inline" style="width:25px; height:80px;">
					<div style="padding:2px 4px;">2.</div>
					<div style="height:31px; text-align:right;">#1</div>
					<div style="height:31px; text-align:right;">#2</div>
				</div><div class="inline" style="width:112px; height:76px; padding:2px 4px;">
					<h5 style="margin:0;">Dose or Amount</h5>
					<p contenteditable="true" style="height:29px; margin:2px 0 0; border:1px solid black;">{{ medications.meds[0].quantity }}</p>
					<p contenteditable="true" style="height:29px; margin:2px 0 0; border:1px solid black;">{{ medications.meds[1].quantity }}</p>
				</div><div class="inline" style="width:66px; height:76px; padding:2px 4px;">
					<h5 style="margin:0;">Frequency</h5>
					<p contenteditable="true" style="height:29px; margin:2px 0 0; border:1px solid black;">{{ medications.meds[0].frequency }}</p>
					<p contenteditable="true" style="height:29px; margin:2px 0 0; border:1px solid black;">{{ medications.meds[1].frequency }}</p>
				</div><div class="inline" style="width:138px; height:76px; padding:2px 4px;">
					<h5 style="margin:0;">Route</h5>
					<p contenteditable="true" style="height:29px; margin:2px 0 0; border:1px solid black;"></p>
					<p contenteditable="true" style="height:29px; margin:2px 0 0; border:1px solid black;"></p>
				</div>
			</div>
			<div>
				<div class="inline" style="width:224px; height:174px; border-top:1px solid black;">
					<h5 style="margin:1px 2px;">3. Dates of Use <i>(If unknown, give duration) from/to<br />(or best estimate)</i></h5>
					<div class="inline" style="width:222px; line-height:17px; margin-left:2px;">
						#1
						<ins contenteditable="true">{{ medications.meds[0].period }}</ins>
					</div>
					<div class="inline" style="width:222px; line-height:17px; margin-left:2px; border-top:1px solid black;">
						#2
						<ins contenteditable="true">{{ medications.meds[1].period }}</ins>
					</div>
					<div class="inline" style="border-top:1px solid black;">
						<h5 style="margin:1px 2px;">4. Diagnosis or Reason for Use <i>(Indication)</i></h5>
						<div class="inline" style="width:214px; line-height:26px; margin-left:10px;">
							#1
							<ins contenteditable="true"></ins>
						</div>
						<div class="inline" style="width:214px; line-height:26px; margin-left:10px; border-top:1px solid black;">
							#2
							<ins contenteditable="true"></ins>
						</div>
					</div>
					<div class="inline" style="width:122px; border-top:1px solid black;">
						<h5 style="margin:1px 2px;">6. Lot #</h5>
						<div class="inline" style="width:116px; line-height:19px; margin:0 3px;">
							#1
							<ins contenteditable="true"></ins>
						</div>
						<div class="inline" style="width:116px; line-height:19px; margin:0 3px; border-top:1px solid black;">
							#2
							<ins contenteditable="true"></ins>
						</div>
					</div><div class="inline" style="width:101px; border-top:1px solid black; border-left:1px solid black;">
						<h5 style="margin:1px 2px;">7. Expiration Date</h5>
						<div class="inline" style="width:93px; line-height:19px; margin:0 3px;">
							#1
							<ins contenteditable="true"></ins>
						</div>
						<div class="inline" style="width:93px; line-height:19px; margin:0 3px; border-top:1px solid black;">
							#2
							<ins contenteditable="true"></ins>
						</div>
					</div>
				</div><div class="inline" style="width:140px; height:174px; border-top:1px solid black; border-left:1px solid black; line-height:1.7;">
					<h5 style="line-height:1.3;">5. Event Abated After Use Stopped or Dose Reduced?</h5>
					<div class="inline" style="margin:0 3px;">
						#1
						<span class="checkbox"></span>
						Yes
						<span class="checkbox"></span>
						No
						<span class="checkbox"></span>
						<span class="inline" style="line-height:1;">Doesn't<br />Apply</span>
					</div>
					<div class="inline" style="width:134px; margin:2px 3px; padding-top:4px; border-top:1px solid black;">
						#2
						<span class="checkbox"></span>
						Yes
						<span class="checkbox"></span>
						No
						<span class="checkbox"></span>
						<span class="inline" style="line-height:1;">Doesn't<br />Apply</span>
					</div>
					
					<div class="inline" style="width:140px; border-top:1px solid black;">
						<h5 style="line-height:1.3;">8. Event Reappeared After Reintroduction?</h5>
						<div class="inline" style="margin:0 3px;">
							#1
							<span class="checkbox"></span>
							Yes
							<span class="checkbox"></span>
							No
							<span class="checkbox"></span>
							<span class="inline" style="line-height:1;">Doesn't<br />Apply</span>
						</div>
						<div class="inline" style="width:134px; margin:2px 3px; padding-top:4px; border-top:1px solid black;">
							#2
							<span class="checkbox"></span>
							Yes
							<span class="checkbox"></span>
							No
							<span class="checkbox"></span>
							<span class="inline" style="line-height:1;">Doesn't<br />Apply</span>
						</div>
					</div>
					
					<div class="inline" style="width:140px; height:26px; border-top:1px solid black;">
						<h5 style="line-height:1.3;">9. NDC # or Unique ID</h5>
						<p contenteditable="true" style="margin:-6px 0 0;"></p>
					</div>
				</div>
			</div>
			
			<h4>E. Suspect Medical Device</h4>
			<div style="height:34px; padding:2px;">
				<h5>1. Brand Name</h5>
			</div>
			<div style="height:34px; padding:2px; border-top:1px solid black;">
				<h5>2. Common Device Name</h5>
			</div>
			<div style="height:44px; padding:2px; border-top:1px solid black;">
				<h5>3. Manufacturer Name, City and State</h5>
			</div>
			
			<div style="border-top:1px solid black;">
				<div class="inline" style="width:132px; height:114px;">
					<div class="inline" style="width:132px; height:37px;">
						<h5>4. Model #</h5>
					</div>
					<div class="inline" style="width:132px; height:37px; border-top:1px solid black;">
						<h5 style="margin-left:12px;">Catalog #</h5>
					</div>
					<div class="inline" style="width:132px; height:37px; border-top:1px solid black;">
						<h5 style="margin-left:12px;">Serial #</h5>
					</div>
				</div><div class="inline" style="width:132px; height:114px; border-left:1px solid black;">
					<div class="inline" style="width:132px; height:37px;">
						<h5>Lot #</h5>
					</div>
					<div class="inline" style="width:132px; height:37px; border-top:1px solid black;">
						<h5>Expiration Date <i>(mm/dd/yyyy)</i></h5>
					</div>
					<div class="inline" style="width:132px; height:37px; border-top:1px solid black;">
						<h5>Other #</h5>
					</div>
				</div><div class="inline" style="width:98px; height:114px; border-left:1px solid black;">
					<h5>5. Operator of Device</h5>
					<div class="inline" style="padding:2px 0 0 2px; line-height:2.2;">
						<span class="checkbox" style="margin-top:2px;"></span>
						Health Professional<br />
						<span class="checkbox" style="margin-top:2px;"></span>
						Lay User/Patient<br />
						<span class="checkbox" style="margin-top:2px;"></span>
						Other:
						<div style="height:30px; line-height:28px; margin:6px; border-bottom:1px solid black;"></div>
					</div>
				</div>
			</div>
			
			<div style="border-top:1px solid black;">
				<div class="inline" style="width:182px; height:26px;">
					<h5>6. If Implanted, Give Date <i>(mm/dd/yyyy)</i></h5>
				</div><div class="inline" style="width:181px; height:26px; border-left:1px solid black;">
					<h5>7. If Explanted, Give Date <i>(mm/dd/yyyy)</i></h5>
				</div>
			</div>
			
			<div style="border-top:1px solid black;">
				<h5>8. Is this a Single-use Device that was Reprocessed and Reused on a Patient?</h5>
				<div style="height:14px; padding:0 14px;">
					<span class="checkbox"></span>
					Yes
					<span class="checkbox" style="margin-left:15px;"></span>
					No
				</div>
			</div>
			<div style="height:46px; border-top:1px solid black;">
				<h5>9. If Yes to Item No. 8, Enter Name and Address of Reprocessor</h5>
				<p contenteditable="true" style="min-height:24px;"></p>
			</div>
			
			<h4>F. Other (concomitant) medical products</h4>
			<div style="height:62px;">
				<h5><i>Product names and therapy dates (exclude treatment of event)</i></h5>
				<p contenteditable="true" style="min-height:40px;"></p>
			</div>
			
			<h4>G. Reporter <i style="text-transform:none;">(See confidentiality section on back)</i></h4>
			<div style="height:78px;">
				<h5>1. Name and Address</h5>
				<div class="inline" style="width:351px; height:14px; margin-left:14px;">Name: <ins contenteditable="true">{{ reporter.name }}</ins></div>
				<div class="inline" style="width:351px; height:34px; margin-left:14px;">Address: <ins contenteditable="true">{{ reporter.address|replace("\n", "<br />") }}</ins></div>
				<div class="inline" style="width:186px; height:14px; margin-left:14px;">
					City: <ins contenteditable="true">{{ reporter.city }}</ins>
				</div><div class="inline" style="width:54px; height:14px;">
					State: <ins contenteditable="true">{{ reporter.state }}</ins>
				</div><div class="inline" style="width:110px; height:14px;">
					ZIP: <ins contenteditable="true">{{ reporter.zip }}</ins>
				</div>
			</div>
			
			<div style="border-top:1px solid black;">
				<div class="inline" style="width:182px; height:39px;">
					<h5>Phone #</h5>
					<p contenteditable="true" style="margin:0;">{{ reporter.phone }}</p>
				</div><div class="inline" style="width:181px; height:39px; border-left:1px solid black;">
					<h5>E-mail</h5>
					<p contenteditable="true" style="margin:0;">{{ reporter.email }}</p>
				</div>
			</div>
			
			<div style="border-top:1px solid black;">
				<div class="inline" style="width:250px; height:60px;">
					<div class="inline" style="width:106px; height:34px;">
						<h5>2. Health Professional?</h5>
						<div class="inline" style="padding:0 4px;">
							<span class="checkbox" style="margin-left:12px;">{% if ('y' == reporter.professional) %}X{% endif %}</span>
							Yes
							<span class="checkbox" style="margin-left:15px;">{% if ('y' != reporter.professional) %}X{% endif %}</span>
							No
						</div>
					</div><div class="inline" style="width:142px; height:34px; border-left:1px solid black;">
						<h5>3. Occupation</h5>
						<p contenteditable="true" style="margin:0;">{{ reporter.occupation }}</p>
					</div><div class="inline" style="width:246px; height:22px; padding:2px; border-top:1px solid black;">
						<b>5. If you do NOT want your identity disclosed<br />to the manufacturer, place an "X" in this box:</b>
						<span class="checkbox" style="margin:-3px 0 0 8px;"></span>
					</div>
				</div><div class="inline" style="width:106px; height:60px; border-left:1px solid black;">
					<h5>4. Also Reported to:</h5>
					<div class="inline" style="padding:2px 0 0 10px; line-height:1.6;">
						<span class="checkbox"></span>
						Manufacturer<br />
						<span class="checkbox"></span>
						User Facility<br />
						<span class="checkbox"></span>
						Distributor/Importer
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- BOTTOM -->
		<div style="clear:both; font-size:9.5pt; margin:0 2px;">
			<div style="float:right; font-size:7pt; margin:1px 28px 0 0;">Submission of a report does not constitute an admission that the medical personell or the product caused or contributed to the event.</div>
			<b>FORM FDA 3500 (1/09)</b>
		</div>
	</div></div>
	
	<script src="../static/jquery-1.9.1.min.js"></script>
	<script>
	$(document).ready(function() {
		$('.checkbox').click(function() {
			var self = $(this);
			self.text(('X' == self.text()) ? '' : 'X');
		});
	});
	</script>
</body>
</html>
